@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.headerContent {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.myLogo h1 {
  color: #d16f9a;
  font-family: "Dancing Script";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-style: italic;
}

.myLogo img {
  width: 90px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

nav ul li a {
  color: #d16f9a;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.deliveryInfo button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  border-radius: 33px;
  border: 1px solid #d16f9a;
  padding: 6px;
  cursor: pointer;
}

.deliveryInfo button span {
  color: #d16f9a;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.menubtn {
  font-size: 32px;
  border: none;
  color: #d16f9a;
  display: none;
}
/* header bitdi */

/* footer basladi */
footer {
  padding: 48px 0;
}

.footer-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer-content .left h3 {
  font-family: "Roboto";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #d16f9a;
}

.footer-logo h3 {
  color: #d16f9a;
  font-family: "Dancing Script";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-style: italic;
}

.footer-content .left h4 {
  color: gray;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.footer-content .rigth .footer-logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer-logo img {
  width: 100px;
  height: 100px;
}
.footer-content .rigth {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
  width: 50%;
}

.footer-content .rigth p {
  text-align: end;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  color: gray;
}

.footer-content .left p {
  color: gray;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icons a {
  color: white;
  padding: 16px;
  background-color: #d16f9a;
  border-radius: 50px;
}
/* footer bitdi */

/* / Section / */

.product-content {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
#search-container {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 5px;
  justify-content: center;
}
#search-container input {
  width: 50%;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 2px solid #d16f9a;
  color: #c4115f;
}
#search-container button {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #d16f9a;
  background-color: #d16f9a;
  color: white;
  cursor: pointer;
}

#product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}
#product-container .card {
  width: 24%;
  border-radius: 20px;
  background-color: #ffffff96;
  border: 2px solid #d16f9a;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#product-container .card img {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  margin-bottom: 20px;
}
#product-container .card h2 {
  color: #c4115f;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#product-container .card div p:first-child {
  color: #fbfbfb;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px;
  background-color: #d16f9a;
  border-radius: 20px;
  margin-bottom: 10px;
}
#product-container .card div p:last-child {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  padding: 8px;
  background-color: #d16f9a;
  border-radius: 20px;
}

.pagination {
  width: 15%;
  background-color: #d16f9a5a;
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}
.pagination button {
  background-color: transparent;
  border: none;
  color: #c4115f;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30%;
  font-family: "Roboto";
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(148, 42, 89, 0.5);
}
.modal ol {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal p {
  font-size: 32px;
  margin-bottom: 20px;
  color: #942a59;
  text-align: center;
}
.modal p:first-child {
  color: red;
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}