@media only screen and (max-width: 991px) {
  nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    background-color: white;
    z-index: 11111;
    display: none;
  }

  nav ul {
    flex-direction: column;
    padding: 50px;
    text-align: center;
  }

  .deliveryInfo button p {
    display: block;
  }

  .menubtn {
    display: block !important;
  }
  /* / header bitdi  / */
  #product-container .card {
    width: 49% !important;
  }

  .pagination {
    width: 30% !important;
  }

  /* / Modal / */
  .modal {
    width: 95% !important;
  }
}

@media only screen and (max-width: 601px) {
  nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    background-color: white;
    z-index: 11111;
    display: none;
  }

  nav ul {
    flex-direction: column;
    padding: 50px;
    text-align: center;
  }

  .deliveryInfo button p {
    display: none;
  }

  .menubtn {
    display: block !important;
  }
  /*header bitdi  */
  #product-container .card {
    margin: auto;
    width: 98% !important;
  }
  .pagination {
    width: 45% !important;
  }
  #search-container {
    width: 98% !important;
    flex-direction: column;
  }
  #search-container input {
    width: 100% !important;
  }

  /* / footer basladi  / */

  .footer-content {
    flex-direction: column-reverse;
  }

  .footer-content .rigth {
    width: 98% !important;
    align-items: center !important;
  }

  .footer-content .left {
    width: 98% !important;
    text-align: center;
    margin-top: 20px;
  }

  .footer-content .rigth p {
    text-align: center !important;
  }

  /* / Modal / */
  .modal {
    width: 95% !important;
  }
}
